@model VideoOnDemand.Web.Models.GeneroViewModel

@{
    ViewBag.Title = Model.Nombre.ToString();
}

<h2>Eliminar genero</h2>

<h3>¿Esta seguro de eliminar este genero?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
   @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista de generos", "Index")
        </div>
    }
</div>
