@model IEnumerable<VideoOnDemand.Web.Models.GeneroViewModel>

@{
    ViewBag.Title = "Generos";
}

<h2>Administrar generos</h2>

<p>
    @Html.ActionLink("Crear nuevo genero", "Create")
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GeneroId}) |            
            @Html.ActionLink("Delete", "Delete", new {id=item.GeneroId })
        </td>
    </tr>
}

</table>

