@model VideoOnDemand.Web.Models.DetalladoSerieViewModel

<h2>Administrar episodios</h2>

<div>
    <h4>Serie: @Model.Nombre</h4>
    <hr />
</div>

<div>
    <p>
        @Html.ActionLink("Crear nuevo episodio", "Create", "Episodio", new { serieId = Model.MediaId }, new { })
    </p>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Episodios.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episodios.First().Temporada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episodios.First().EstadosMedia)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Episodios)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temporada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadosMedia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Episodio", new { id = item.MediaId }, new { }) |
                @Html.ActionLink("Delete", "Delete", "Episodio", new { id = item.MediaId }, new { })
            </td>
        </tr>
        }

    </table>
</div>