@model VideoOnDemand.Web.Models.CompletoSerieViewModel

<!-- Información general de la serie y fotografia -->
<!-- style="background-image: url(../../Multimedia/Detalles.jpg); background-position: center; background-size: cover;" -->
<div class="row contenedorDetallesImagenMedia">
    <div class="col-md-5 detallesMedia">
        <h2><strong> @Model.Nombre </strong></h2>
        <h4>@Model.FechaLanzamiento.Value.Year (Numero de temporadas)  @TimeSpan.FromMinutes((double)Model.DuracionMin).ToString("%h") h @TimeSpan.FromMinutes((double)Model.DuracionMin).ToString("mm") min</h4>
        <p class="textoDetalleMedia">@Model.Descripcion</p>
        <div class="form-group">
            <a class="btn btn-danger botonReproducir" href="~/MovieCatalogo/Reproductor"><span class="glyphicon glyphicon-play" style="margin-right: 5px;"></span><strong>Reproducir</strong></a>
            <a class="btn btn-danger botonMiLista" href="~/MovieCatalogo/Reproductor"><span class="glyphicon glyphicon-ok" style="margin-right: 10px;"></span><strong>Mi lista</strong></a>
        </div>


        <p class="textoDetalleMedia">
            <strong>Protagonistas:</strong>
            @foreach (var actor in Model.Actores)
            {
                <span class="badge badgeMedia">@actor.Name</span>
            }
        </p>
        <p class="textoDetalleMedia">
            <strong>Géneros: </strong>
            @foreach (var genero in Model.Generos)
            { 
                <span class="badge badgeMedia">@genero.Nombre</span>
            }
        </p>
    </div>
    <div class="col-md-7 imagenMedia">

    </div>
</div>




<div class="container-fluid" style="margin-top: 30px;">
    <p><strong>Reseñas</strong></p>
    <p><span id="numeroReseñas">4</span> reseñas</p>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Mi reseña</div>
                <div class="panel-body">
                    <form id="formularioOpinion">
                        <input type="text" id="serieId" name="serieId" value="@Model.MediaId" hidden />
                        <div class="form-group">
                            <textarea id="opinion" name="opinion" class="form-control" rows="3" placeholder="Agrega una reseña" style="resize:none;min-width:100%;"></textarea>
                        </div>
                        <button onClick="validarOpinion(formularioOpinion)" id="btnRegistrarOpinion" name="btnRegistrarOpinion" type="button" class="btn btn-default">Agregar</button>
                        <div class="my-rating"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="listaOpiniones">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/star-rater")
    <script type="text/javascript">
        $(function () {

            $(".my-rating").starRating({
                totalStars: 5,
                starShape: 'rounded',
                starSize: 4,
                emptyColor: 'lightgray',
                hoverColor: 'salmon',
                activeColor: 'crimson',
                useGradient: false
            });

            consultar($("#serieId").val());
        });

    function validarOpinion(datos) {
        if (datos.opinion.value != "") {
            registrarOpinion(datos);
            consultar(datos.serieId.value);
        }
    }


    function registrarOpinion(datos) {

        var opinion = {
            MediaId: datos.serieId.value,
            Descripcion: datos.opinion.value,
            UsuarioId: null,
            FechaRegistro: null,
            Puntuacion: 4 //Aqui se debe de modificar la puntuacion
        };

        $.ajax({
            url: '@Url.Action("Registrar", "Opinion")',
            type: 'POST',
            dataType: 'JSON',
            contentType: "application/json",
            data: JSON.stringify(opinion),
            success: function (data) {
                if (data.Success) {
                    alert("Se registro la opinion");
                } else {
                    alert("No se registro la opinion");
                }
            }
        });
    }

    function consultar(serieId) {
        $.ajax({
            url: '@Url.Action("Consultar", "Opinion")' + '/' + serieId,
                type: 'GET',
                dataType: 'JSON',
                data: null,
                success: function (data) {
                    if (data.Success) {
                        //Convierto la cadena JSON a objeto JS
                        var opiniones = JSON.parse(data.Opiniones);

                        //Quita lo que este dentro del div
                        $("#listaOpiniones").empty();

                        //Escribe de nuevo las opiniones
                        for (i = 0; i < opiniones.length; i++) {
                            var opinion = opiniones[i];
                            var html = "";
                            html += "<div class='row'>";
                            html += "<div class='col-md-12'>";
                            html += "<div class='panel panel-default'>";
                            html += "<div class='panel-body'>";
                            html += "<div class='media'>";
                            html += "<a class='pull-left' href=''>";
                            html += "<img width='64px' class='media-object img-circle' src='/Multimedia/FotoPerfil2.jpg' alt='...'>";
                            html += "</a>";
                            html += "<div class='media-body'>";
                            html += "<h4 class='media-heading'>";
                            html += opinion.Usuario.Nombre + " - " + opinion.FechaRegistro;
                            for (estrella = 0; estrella < opinion.Puntuacion; estrella++) {
                                html += "<span class='glyphicon glyphicon-star'></span>";
                            }
                            html += "</h4>";
                            html += opinion.Descripcion;
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";

                            $("#listaOpiniones").append(html);
                        }
                    }
                }
            });
    }
    </script>

}