@model VideoOnDemand.Web.Models.CompletoSerieViewModel


<!-- Seccion de los alerts para errores -->
<div id="errorOpinion" class="alert" style=" background-color:#e50914; text-align:center; width: 50%; position: fixed; top:10%; left: 50%; margin-left: -25%; z-index: 20;" hidden><strong id="errorOpinionMensaje"></strong></div>
<div id="exitoOpinion" class="alert" style="background-color: #FFC300; text-align:center; width: 50%; position: fixed; top:10%; left: 50%; margin-left: -25%; z-index: 20;" hidden><strong id="exitoOpinionMensaje"></strong></div>


<!-- Información general de la serie y fotografia -->
<!-- style="background-image: url(../../Multimedia/Detalles.jpg); background-position: center; background-size: cover;" -->
<div class="row contenedorDetallesImagenMedia">
    <div class="col-md-5 detallesMedia">
        <h2><strong> @Model.Nombre </strong></h2>
        <h4>@Model.FechaLanzamiento.Value.Year (Numero de temporadas)  @TimeSpan.FromMinutes((double)Model.DuracionMin).ToString("%h") h @TimeSpan.FromMinutes((double)Model.DuracionMin).ToString("mm") min</h4>
        <p class="textoDetalleMedia">@Model.Descripcion</p>
        <div class="form-group">
            <a class="btn btn-danger botonReproducir" href="~/MovieCatalogo/Reproductor"><span class="glyphicon glyphicon-play" style="margin-right: 5px;"></span><strong>Reproducir</strong></a>
            @if (Model.MiFavorito == true)
            {
                <form class="" style="display:inline" id="MetodoLlamar" method="post" action='@Url.Action("DeleteSerie", "Favorito", new { id = Model.IdFavorito }, null)'>
                    <button type="submit" class="btn btn-danger botonMiLista">
                        <span class="glyphicon glyphicon-ok" style="margin-right: 10px;"></span><strong>Mi lista</strong>
                    </button>
                </form>
            }
            else
            {
                <form class="" style="display:inline" id="MetodoLlamar" method="post" action='@Url.Action("Create", "Favorito", new { esFalse = Model.esMovie, id = Model.MediaId }, null)'>
                    <button type="submit" class="btn btn-danger botonMiLista">
                        <span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span><strong>Mi lista</strong>
                    </button>
                </form>
            }
        </div>


        <p class="textoDetalleMedia">
            <strong>Protagonistas:</strong>
            @foreach (var actor in Model.Actores.Where(x=>x.Status==true))
            {
                <span class="badge badgeMedia">@actor.Name</span>
            }
        </p>
        <p class="textoDetalleMedia">
            <strong>Géneros: </strong>
            @foreach (var genero in Model.Generos.Where(x => x.Activo == true))
            {
                <span class="badge badgeMedia">@genero.Nombre</span>
            }
        </p>
    </div>
    <div class="col-md-7 imagenMedia">

    </div>
</div>


<div class="container-fluid" style="margin-top: 30px;color: gray;">
    <p><strong>Reseñas</strong></p>
    <p><span id="numeroReseñas">4</span> reseñas</p>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Mi reseña</div>
                <div class="panel-body">
                    <form id="formularioOpinion">
                        <input type="text" id="serieId" name="serieId" value="@Model.MediaId" hidden />
                        <input type="number" id="puntuacion" name="puntuacion" value="0" hidden/>
                        <div class="form-group">
                            <textarea id="opinion" name="opinion" class="form-control" maxlength="200" rows="3" placeholder="Agrega una reseña" style="resize:none;min-width:100%;"></textarea>
                        </div>
                        <div class="form-group">
                            <button onClick="validarOpinion(formularioOpinion)" id="btnRegistrarOpinion" name="btnRegistrarOpinion" type="button" class="btn btn-default">Agregar</button>
                            <span class="my-rating pull-right"></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="listaOpiniones">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/star-rater")
    <script type="text/javascript">
        $(function () {

            $(".my-rating").starRating({
                totalStars: 5,
                useFullStars: true,
                starShape: 'rounded',
                starSize: 20,
                emptyColor: 'lightgray',
                hoverColor: 'red',
                activeColor: 'red',
                useGradient: false,
                disableAfterRate: false,
                onHover: function (currentIndex, currentRating, $el) {
                    $("#puntuacion").val(currentRating);
                }
                
            });

            consultar($("#serieId").val());

           
        });

        function validarOpinion(datos) {
            if (datos.puntuacion.value != "") {
                registrarOpinion(datos);
                
            }
        }


        function registrarOpinion(datos) {

            var opinion = {
                MediaId: datos.serieId.value,
                Descripcion: datos.opinion.value,
                UsuarioId: null,
                FechaRegistro: null,
                Puntuacion: datos.puntuacion.value //Aqui se debe de modificar la puntuacion
            };

            $.ajax({
                url: '@Url.Action("Registrar", "Opinion")',
                type: 'POST',
                dataType: 'JSON',
                contentType: "application/json",
                data: JSON.stringify(opinion),
                success: function (data) {
                    if (data.Success) {
                        consultar(datos.serieId.value);
                        $("#exitoOpinionMensaje").html(data.Mensaje);
                        $("#exitoOpinion").fadeIn("slow");
                        setTimeout(function () {
                            $("#exitoOpinion").fadeOut("slow");
                        }, 3000);
                    } else {

                        $("#errorOpinionMensaje").html(data.Mensaje);
                        $("#errorOpinion").fadeIn("slow");
                        setTimeout(function () {
                            $("#errorOpinion").fadeOut("slow");
                        }, 3000);
                        
                    }
                }
            });
        }

        function eliminarOpinion(id) {

            $.ajax({
                url: '@Url.Action("Eliminar", "Opinion")' + '/' + id,
                type: 'POST',
                dataType: 'JSON',
                data: null,
                success: function (data) {
                    if (data.Success) {
                        $("#exitoOpinionMensaje").html(data.Mensaje);

                        $("#exitoOpinion").fadeIn("slow");
                        setTimeout(function () {
                            $("#exitoOpinion").fadeOut("slow");
                        }, 3000);
                        consultar($("#serieId").val());
                    } else {

                        $("#errorOpinionMensaje").html(data.Mensaje);

                        $("#errorOpinion").fadeIn("slow");
                        setTimeout(function () {
                            $("#errorOpinion").fadeOut("slow");
                        }, 3000);
                        
                    }
                }
            });
        }

        function consultar(serieId) {
            $.ajax({
                url: '@Url.Action("Consultar", "Opinion")' + '/' + serieId,
                    type: 'GET',
                    dataType: 'JSON',
                    data: null,
                    success: function (data) {
                        if (data.Success) {
                            //Convierto la cadena JSON a objeto JS
                            var opiniones = JSON.parse(data.Opiniones);

                            //Quita lo que este dentro del div
                            $("#listaOpiniones").empty();

                            //Escribe de nuevo las opiniones
                            for (i = 0; i < opiniones.length; i++) {
                                var opinion = opiniones[i];
                                var html = "";
                                html += "<div class='row'>";
                                html += "<div class='col-md-12'>";
                                html += "<div class='panel panel-default'>";
                                html += "<div class='panel-body'>";
                                html += "<div class='media'>";
                                html += "<a class='pull-left' href=''>";
                                html += "<img width='64px' class='media-object img-circle' src='/Multimedia/FotoPerfil2.jpg' alt='...'>";
                                html += "</a>";
                                html += "<div class='media-body'>";
                                html += "<h4 class='media-heading'>";
                                html += opinion.Usuario.Nombre + " - " + opinion.FechaRegistro;
                                html += "<span class='estrellasOpinion pull-right' data-rating='" + opinion.Puntuacion + "'></span>";
                                html += "</h4>";
                                html += "<p>"+opinion.Descripcion+"</p>";
                                html += "<button onClick='eliminarOpinion(" + opinion.Id + ")' id='btnEliminarOpinion' name='btnEliminarOpinion' type='button' class='btn btn-default'>Eliminar</button>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";

                                $("#listaOpiniones").append(html);

                                $(".estrellasOpinion").starRating({
                                    starShape: 'rounded',
                                    starSize: 20,
                                    emptyColor: 'lightgray',
                                    activeColor: 'red',
                                    readOnly: true
                                });
                            }
                        }
                    }
                });
        }
    </script>

}