@model VideoOnDemand.Web.Models.PaginatorViewModel<VideoOnDemand.Web.Models.ThumbnailSerieViewModel>
@using VideoOnDemand.Entities

@{
    ViewBag.Title = "Index";
}

<h2>Peliculas</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="form-inline">
            <input type="text" id="page" name="page" value="1" hidden />

            <div class="col-md-3">
                <label>Nombre de la serie</label>
                <input type="text" id="busqueda" name="busqueda" class="form-control" value=@ViewBag.Busqueda>
            </div>

            <div class="col-md-2">
                <label>Series por pagina</label>
                <input type="number" class="form-control" id="pageSize" name="pageSize" min="1" value="@Model.PageSize" />
            </div>

            <div class="col-md-3">
                <label>Genero de la serie</label>
                <select id="genero" name="genero" class="form-control">
                    @if (String.IsNullOrEmpty(ViewBag.Genero))
                    {
                        <option value=""></option>
                    }
                    else
                    {
                        <option value=@ViewBag.Genero>@ViewBag.Genero</option>
                        <option value=""></option>
                    }

                    @foreach (var genero in (List<string>)ViewBag.ListaGeneros)
                    {
                        <option value="@genero">@genero</option>
                    }
                </select>
            </div>
            <div>
                <br />
                <button type="submit" formmethod="get" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    }
</div>
<br />


<div class="row">
    @foreach (var serie in Model.Results)
    {
    <div class="col-md-4">
        <div class="panel panel-default" style="height:250px;">
            <div class="panel-heading">
                <h3>@serie.Nombre</h3>
                <div class="row">
                    <div class="pull-left">
                        @serie.FechaLanzamiento
                    </div>
                    <div class="pull-right">
                        
                    </div>
                </div>
                <div class="row">
                    Genero:
                    @foreach (var genero in serie.Generos)
                    {
                        <span class="badge">@genero.Nombre</span>
                    }
                </div>
            </div>

            <div class="panel-body">
                <p>Descripcion: @serie.Descripcion</p>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="pull-left">
                        <a href="" class="btn btn-primary" role="button" value="http://localhost:62225/Favorito/Create">Mi lista</a>
                    </div>

                    <div class="pull-right">
                        <a href="" class="btn btn-primary" role="button">Detalles</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    }
</div>

@Html.Partial("_Paginator")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



