@model VideoOnDemand.Web.Models.PaginatorViewModel<VideoOnDemand.Web.Models.ThumbnailSerieViewModel>
@using VideoOnDemand.Entities

@{
    ViewBag.Title = "Index";
}

<h2>Series</h2>
<style>
    .tooltip.top .tooltip-inner {
        background-color: red;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: red;
    }
</style>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="form-inline">
            <input type="text" id="page" name="page" value="1" hidden />

            <div class="col-md-3 form-group">
                <label for="busqueda">Nombre de la serie</label>
                <input type="text" id="busqueda" name="busqueda" class="form-control" value=@ViewBag.Busqueda>
            </div>

            <div class="col-md-3 form-group">
                <label for="genero">Genero de la serie</label>
                <select id="genero" name="genero" class="form-control">
                    @if (String.IsNullOrEmpty(ViewBag.Genero))
                    {
                        <option value=""></option>
                    }
                    else
                    {
                        <option value=@ViewBag.Genero>@ViewBag.Genero</option>
                        <option value=""></option>
                    }

                    @foreach (var genero in (List<string>)ViewBag.ListaGeneros)
                    {
                        <option value="@genero">@genero</option>
                    }
                </select>
            </div>

            <div class="col-md-2 form-group">
                <label for="pageSize">Series por pagina</label>
                <input type="number" class="form-control" id="pageSize" name="pageSize" min="1" value="@Model.PageSize" />
            </div>

            <div>
                <br />
                <button type="submit" formmethod="get" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    }
</div>
<br />


<div class="row">
    @foreach (var serie in Model.Results)
    {
        <div class="col-md-4" style="padding:2px">
            <a href='@Url.Action("Details", "Serie", new {id =serie.MediaId })'>
                <img src="/Multimedia/r_cars3_header_poststreet_d2c05b66.jpeg" class="TitulosBonitos" style="width:100%;" data-toggle="tooltip" data-placement="top" title="@serie.Nombre">
            </a>
        </div>
    }
</div>

@Html.Partial("_Paginator")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $(".TitulosBonitos").tooltip();
        });
    </script>
}



