@model IEnumerable<VideoOnDemand.Web.Models.SerieViewModel>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Administrar Series</h2>

    <p>
        @Html.ActionLink("Crear nueva serie", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadosMedia)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadosMedia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MediaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MediaId }) |
                @Html.ActionLink("Episodios", "Details", new { id = item.MediaId })
            </td>
        </tr>
        }

    </table>
