@model VideoOnDemand.Web.Models.MovieViewModel

@{
    ViewBag.Title = "Nueva movie";
}

<h2>Nueva movie</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DuracionMin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuracionMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DuracionMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaLanzamiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaLanzamiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaLanzamiento, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 id="ActoresHead" class="panel-title">Actores</h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.ActoresDisponibles)
                    {
                        <div class="checkbox">
                            <label>
                                <input name="ActoresSeleccionados" oninvalid="alert" required type="checkbox" value="@item.Id.Value.ToString()"> @item.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Generos</h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.GenerosDisponibles)
                    {
                        <div class="checkbox">
                            <label>
                                <input name="GenerosSeleccionados" required type="checkbox" value="@item.GeneroId.Value.ToString()"> @item.Nombre
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Regresar a la lista de movies", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
