@model VideoOnDemand.Web.Models.EliminadoSerieViewModel

@{
    ViewBag.Title = Model.Nombre.ToString();
}

<h2>Eliminar serie</h2>

<h3>¿Esta seguro de elimar esta serie?</h3>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuracionMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuracionMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadosMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadosMedia)
        </dd>

    </dl>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Actores</h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.Actores)
                    {
                        <p>@item.Name (@item.Descripcion) </p>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Generos</h3>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.Generos)
                    {
                        <p>@item.Nombre </p>
                    }
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista de series", "Index")
        </div>
    }
</div>
