@model VideoOnDemand.Web.Models.PaginatorViewModel<VideoOnDemand.Web.Models.ThumbnailSerieViewModel>


@{
    ViewBag.Title = "Index";
}

<h2>Peliculas</h2>

<p>
        @using (Html.BeginForm())
        {
            <div class="form-inline">
                <input type="text" id="page" name="page" value="1" hidden />

                <div class="col-md-3">
                    <label>Nombre de la Pelicula</label>
                    <input type="text" id="busqueda" name="busqueda" class="form-control" value=@ViewBag.Busqueda>
                </div>

                <div class="col-md-2">
                    <label>Peliculas por pagina</label>
                    <input type="number" class="form-control" id="pageSize" name="pageSize" min="1" value="@Model.PageSize" />
                </div>

                <div class="col-md-3">
                    <label>Genero de la Pelicula</label>
                    <select id="genero" name="genero" class="form-control">
                        @if (String.IsNullOrEmpty(ViewBag.Genero))
                        {
                            <option value=""></option>
                        }
                        else
                        {
                            <option value=@ViewBag.Genero>@ViewBag.Genero</option>
                            <option value=""></option>
                        }
                         
                        @foreach (var genero in (List<string>)ViewBag.ListaGeneros)
                        {
                            <option value="@genero">@genero</option>
                        }
                    </select>
                </div>
                <div>
                    <br />
                    <button type="submit" formmethod="get" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        }
<div><h1></h1></div>

<style>        
    table#pelicula{
        width:200px;
        height:300px;
        float:left;
        
    }
    footer{
        width:1px;
        height:1px;
        float:none;
    }
    nosalto{
    font-weight: normal !important;
    }

</style>

<div class="row">
    @foreach (var item in Model.Results)
    { 
        <div class="col">
            <div class="col-lg-3">
                <table id="pelicula" border="1">
                    <tr>
                        <th colspan="2">
                            <h1 class="text-center">@item.Nombre</h1>
                            <div class="caption text-center">
                                <h5 class="card-title">@item.FechaLanzamiento.Value.ToString("yyyy") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.DuracionMin min</h5>
                            </div>
                            Genero: &nbsp;
                            @foreach (var genero in item.Generos)
                            {
                                <nosalto>@genero.Nombre</nosalto>
                            }
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div>Descripcion:</div>
                            <h6 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h6>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h7 class="card-title"><a>+ Mi Lista</a></h7>
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.MediaId })
                        </td>
                    </tr>
                </table>
            </div>
            </div>
    }
</div>
<h1></h1>

@Html.Partial("_Paginator")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


