@model VideoOnDemand.Web.Models.PaginatorViewModel<VideoOnDemand.Web.Models.ThumbnailSerieViewModel>


@{
    ViewBag.Title = "Index";
}

<h2>Peliculas</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Busqueda por Nombre: @Html.TextBox("Search") <br />
        <input type="submit" value="Search" />
    </p>
    }
<div></div>

<style>        
    table#pelicula{
        width:200px;
        height:300px;
        float:left;
        
    }
    footer{
        width:1px;
        height:1px;
        float:none;
    }

</style>

<div class="row">
    @foreach (var item in Model.Results)
    {
        <div class="col">
            <div class="col-lg-3">
                <table id="pelicula" border="1">
                    <tr>
                        <th colspan="2">
                            <h1 class="text-center">@item.Nombre</h1>
                            <div class="caption text-center">
                                <h5 class="card-title">@item.FechaLanzamiento.Value.ToString("yyyy") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.DuracionMin min</h5>
                            </div>
                            @foreach (var genero in item.Generos)
                            {
                                <span>@genero.Nombre</span>
                            }
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div>Descripcion:</div>
                            <h6 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h6>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h7 class="card-title"><a>+ Mi Lista</a></h7>
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.MediaId })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
<h1></h1>

@Html.Partial("_Paginator")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


