@model IEnumerable<VideoOnDemand.Web.Models.MovieViewModel>


@{
    ViewBag.Title = "Index";
}

<h2>Peliculas</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Busqueda por Nombre: @Html.TextBox("Search") <br />
        <input type="submit" value="Search" />
    </p>
    }
<div></div>

<style>        
    table#pelicula{
        width:200px;
        height:300px;
        float:left;
        
    }
    footer{
        width:1px;
        height:1px;
        float:none;
    }

</style>

<div >
    @foreach (var item in Model)
    {
        <div >
            <table id="pelicula" border="1" >
                <tr>
                    <th colspan="2"><a>@Html.DisplayFor(modelItem => item.Nombre)</a>
                    <div><h5 class="card-title">@item.FechaLanzamiento.Value.ToString("yyyy") <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                         Duracion: @Html.DisplayFor(modelItem => item.DuracionMin)</h5></div>

                            <h5 class="card-title">Genero:@Html.DisplayFor(modelItem => item.GenerosSeleccionados)</h5></th>
                </tr>
                <tr>
                    <th colspan="2">
                        <div>Descripcion:</div>
                        <h6 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h6>
                    </th>
                </tr>
                <tr>
                    <td>                        
                        <h7 class="card-title"><a>+ Mi Lista</a></h7>
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.MediaId})
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
